@using WebFilm.Models;
@model Table_Fim
@{
    ViewBag.Title = "Xem phim " + @ViewBag.FilmTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="body">
    <div class="uk-container uk-container-center">
        <div class="breadcumb">
            <ul class="uk-list">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="">@ViewBag.FilmTitle</a></li>
            </ul>
        </div><!-- .breadcumb -->
        <div class="uk-grid uk-grid-width-1-2">
            <div class="wrap">
                <div class="preview">
                    <div class="uk-grid">
                        <div class="img-prevew uk-width-1-1">
                            <img src="~/Content/image_webfim/@Model.AnhPhim" alt="" />
                        </div><!-- img-preview -->
                    </div><!-- .uk-gird -->
                </div><!-- preview -->
            </div><!-- wrap -->
            <div class="wrap">
                <div class="detail">
                    <h3 class="product-name">@Model.NameFim</h3><!-- .product-name -->
                    <div class="rate">
                        <span class="fa fa-star-0"></span>
                        <a href="" title="" class="add-review">Add Your Review</a>
                    </div><!-- rate -->
                    <div class="status">Availability: <i class="uk-icon-check-circle-o"></i> <span class="detail">in-stock</span></div>
                    <p class="description">@Model.ThongTinBoFim</p>
                    <div class="action">
                        <a href="@Url.Action("watching/"+ViewBag.Id,"Home")" title="" div class="add-to-cart">Xem phim</a>
                        <a href="" title="" class="like"><i class="uk-icon-heart"></i></a>
                    </div><!-- .action -->
                    <div class="social-link">
                        <div class="title">Share this comparison with your friends:</div>
                        <ul class="uk-list social-list">
                            <li><a href=""><i class="uk-icon-twitter"></i></a></li>
                            <li><a href=""><i class="uk-icon-facebook"></i></a></li>
                            <li><a href=""><i class="uk-icon-google-plus"></i></a></li>
                            <li><a href=""><i class="uk-icon-pinterest"></i></a></li>
                        </ul><!-- social-list -->
                    </div><!--.social-link -->
                </div><!-- .detail -->
            </div><!-- wrap -->
        </div><!--.uk-grid-->
        <div class="uk-grid main">
            <div class="uk-width-1-4">
                
                    
                    @Html.Action("PhimLienQuan_Partial", "Home")
                
            </div><!-- aside -->
            <div class="uk-width-3-4">
                <div class="tab">
                    <!-- This is the tabbed navigation containing the toggling elements -->
                    <ul class="uk-tab" data-uk-tab="{connect:'#my-id'}"style="margin-top: 32px;">
                        <li><a href="" title="" class="tab-active">Thông tin chi tiết</a></li>
                        <li><a href="">Bình luận</a></li>
                    </ul>

                    <!-- This is the container of the content items -->
                    <ul id="my-id" class="uk-switcher uk-margin">
                        <li>
                            <p class="content">
                                @Model.ThongTinBoFim
                            </p>
                        </li>
                        <li>
                            <p class="content">
                                <div class="fb-comments" data-href="@Request.Url.ToString()" data-width="825" data-numposts="5"></div>
                            </p>
                        </li>
                    </ul>
                </div><!-- .tab -->
                
            </div><!-- content -->
        </div><!-- .uk-grid -->
    </div><!--.container -->
</section><!-- #body -->